# Gradle files
.gradle/
build/
out/
**/build/

# IntelliJ IDEA
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Caches
.cache/
*.log

# Java/Kotlin
*.class
*.jar

# Minecraft
run/
logs/
remappedSrc/
.remapped/